.cabecalho-moda {
    background-color: #BB86FC;
    color: #FFFFFF;
}

.cabecalho-casa {
    background-color: #00C4B4;
    color: #FFFFFF;
}

.itens {
    background-color: #424250;
    color: #FFFFFF;
}
